{% extends "::base.html.twig" %}

{% block page_title %}
<div class="page-title">
  <h1>Welcome</h1>
  <hr />
</div>
{% endblock %}

{% block body %}
<p>Welcome to the Ayamel Resource Library API - a system for sharing multimedia resources among language learning applications.</p>
<p>The API is currently a work in progress, core features are intended to be complete and stable by Winter 2013. To get involved with the development, please collaborate with us on <a href='https://github.com/AmericanCouncils/AyamelResourceApiServer'>Github</a>!</p>
<p>Access to the API is currently only available by contacting the developers directly.  Once more key features are implemented, access will be opened to a broader audience. Visit <a href='http://www.ayamel.org/about.html'>www.ayamel.org</a> for more information.</p>
<p>To browse the API documentation, check out the <a href='{{app.request.baseurl}}/api/v1/docs'>documentation</a>.</p>
{% endblock %}
