{% extends "::base.html.twig" %}

{% block body %}
<p>Welcome to the Ayamel Resource Library API - a system for sharing multimedia resources among language learning applications.</p>
<p>This API is meant to be used by many language learning applications, in order to make multimedia resources sharable, and discoverable in ways that are most useful for language learners and teachers.</p>
<p>To get started with the API, check out the <a href='{{app.request.baseurl}}/api/v1/docs'>documentation</a>.</p>
{% endblock %}