web/bundles/
app/cache/*
app/logs/*
build/
vendor/
composer.phar
*.DS_Store
app/files/*
web/examples/
app/config/parameters.yml
web/files
*~
*.DS-Store
app/bootstrap.php.cache
bin
.vagrant
vagrant_ansible_inventory_*

