temp/
web/bundles/
web/examples/
web/resource_uploads/
web/files
app/cache/*
app/logs/*
app/files/*
app/bootstrap.php.cache
app/config/parameters.yml
build/
vendor/
bin/
tests/config.ini
composer.phar
*.DS_Store
*.DS-Store
.vagrant
vagrant_ansible_inventory_*
*~
