{% extends '::base.html.twig' %}

{% block body %}
<h2>Hello world!</h2>
<p>Eventually, there will be real content here.</p>
<p><a href='{{ app.request.BaseUrl }}/resources/1'>GET resource 1</a></p>
{% endblock %}