<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="bootstrap.php"
>
    <testsuites>
        <testsuite name="Ayamel Environment Integration Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <ini name="display_errors" value="on" />
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
