{% extends "::base.html.twig" %}

{% block body %}
<h3>Welcome.</h3>
<p>Eventually, there will be real content here.</p>
<a href='{{ app.request.BaseUrl}}/api/v1/rest/resource/4f7a1db84c76553b66000001'>Resource 4f7a1db84c76553b66000001</a>
{% endblock %}